/* Styles go in this file. */

html, body { height: 100%; }

body {
	margin: 0;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
}

#replay {
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 3px 6px;
	background: #eee;
	cursor: pointer;
	&:hover {
		background: #ddd;
	}
}

.x.axis line,
.x.axis path {
	display: none;
}

.x.axis text, .y.axis text{
	font-size: 11px;
	fill: grey;
	font-family: 'Source Sans Pro', sans-serif;
}

.horse{
	transition:200ms opacity;
}

.rank-number{
	font-weight:bold;
}

.tick{
	cursor:pointer;
}

.tick line {
	stroke: #e0e1e1;
	opacity: 1;
}

.domain {
	stroke: #e0e1e1;
	opacity: 1;
}

.circle.end{
	stroke:#fff;
	stroke-width:4px;
}